* {
    font-family: 'Poppins';
}

.container {
    display: block;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #EF6351;
    color: white;
    font-weight: 500;
}


.navbar-brand a {
    text-decoration: none;

    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background 0.5s;
}

.navbar-links a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}


/* SearchBar */
.search-bar {
    display: grid;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background: transparent;
    backdrop-filter: blur(20px);
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.search-bar h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 7px;
}

.returndate {
    background-color: #F7A399 !important;
    cursor: not-allowed;
}

.form-group input,
.offer {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 7px 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 30px;
    background: transparent;
    color: #fff;
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    /* 0 0 8px rgba(255, 255, 255, 0.8); */
}

.form-group input:hover,
.offer:hover {
    border: 2px solid rgba(239, 99, 81, .3);
}

.form-group input:focus,
.offer:focus {
    border: 2px solid rgba(239, 99, 81, .7);
    box-shadow: 0 0 8px rgba(239, 99, 81, 1);
}

.form-group input::placeholder {
    color: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.offer {
    appearance: none;
    background-color: transparent;
    color: #fff;
    outline: none;
}

.offer option {
    background-color: #F38375;
}


.searchContainer {
    display: flex;
    justify-content: center;
    padding: 25px 25px 10px;
}

.searchbtn {
    justify-self: center;
    width: 40%;
    padding: 10px;
    background-color: #EF6351;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.searchbtn:hover {
    background-color: #FFE3E0;
    color: #EF6351;
    border: 2px solid #EF6351;
}